* {
  margin: 0;
  font-family: sans-serif;
}


.button1 {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  color: #591C68;
  border: 3px solid #591C68;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.button1:hover {
  background-color: gray;
  color: white;
  border: 3px solid gray;
  cursor: pointer;
}

.button2 {
  padding: 15px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  border: 0;
  color: white;
  background-color: #591C68;
  transition: all 0.2s ease-in-out;
}

.button2:hover {
  background-color: gray;
  color: black;
  cursor: pointer;
}

.sectionHeading h1{
  text-align: center;
}

.sectionHeading p{
  text-align: center;
}

.section {
  margin-inline: 60px;
}