* {
  margin: 0;
  font-family: sans-serif;
}


.button1 {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  color: #591C68;
  border: 3px solid #591C68;
  background-color: transparent;
}

.button2 {
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  border: 0;
  color: white;
  background-color: #591C68;
}

.sectionHeading h1{
  text-align: center;
}

.sectionHeading p{
  text-align: center;
}

.section {
  margin-inline: 60px;
}