


.about-page-heading {
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-page-paragraph {
    margin: 80px 0px;
}

.about-page-pillars {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.foundational-pillars h2 {
    color: #591C68;
    margin-bottom: 15px;
}

.foundational-pillars li {
    margin-bottom: 15px;
}

.hard-hat-image {
    max-width: 600px;
    max-height: 360px;
}

.hard-hat-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-page-team-members > div {
    display: flex;
    flex-wrap: wrap;
    margin: 70px 0px;
}

/*....................*/

.about-page-choose {
    margin: 100px 0px;
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

.about-page-image {
    position: relative;
}

.about-page-image .image {
    width: 500px;
}

.about-page-image .img-background-shadow {
    width: 500px;
    height: 300px;
    background-image: linear-gradient(45deg, rgb(156, 156, 156), rgb(163, 161, 161),rgb(197, 195, 195), rgb(165, 164, 164));
}

.about-page-image .about-main-photo {
    position: absolute;
    top: -20px;
    left: 20px;
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.about-page-info h2 {
    margin-bottom: 20px;
    color: #591C68;
}

.about-page-info li {
    margin-bottom: 20px;
}