.contact-page-contacts {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 90px;
}

.contact-page-contacts > div{
    flex: 1;
}

.contact-page-heading {
    margin: 70px 0px;
}

.contact-page-paragraph {
    margin: 70px 0px;
}

.choice {
    display: flex;
    gap: 30px;
    background-image: linear-gradient(45deg, rgb(156, 156, 156), rgb(163, 161, 161),rgb(197, 195, 195), rgb(165, 164, 164));
    padding: 20px 40px;
    margin-bottom: 20px;
}

.choice .contact-icon {
    border: 3px solid #591C68;
    color: #591C68;
    padding: 5px;
    width: 50px;
    height: 50px;
}

.choice .contact-icon img {
    width: 50px;
}

.contact-info h3 {
    margin-bottom: 10px;
}

/* adding an animation to the contact page*/

.quick-email-contact {
    margin: 0px 0px 0px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.quick-email-contact form {
    margin: 30px;
}

.quick-email-contact input {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}

.textarea {
    display: flex;
    flex-direction: column;
}

.textarea textarea {
    padding: 10px;
}

.form-button {
    display: flex;
    justify-content: center;
}

.form-button input {
    margin: 30px;
    max-width: 200px;
}


@media (max-width:768px) {
    .contact-page-contacts {
        flex-direction: column;
    }

    .quick-email-contact {
        margin: 20px 0px;
    }
}