.slogan-container {
    position: absolute;
    top: 200px;
    left: 60px;
    animation: slide ease-in 0.5s;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.sloganBox {
    width: 250px;
    padding: 20px 20px 40px 20px;
    background-color: gray;
    position: relative;
}

.slogan1 {
    color: #591C68;
    margin-bottom: 20px;
    margin-top: 20px;
}

.slogan2 {
    color: white;
    margin-bottom: 20px;
}

.contact-button {
    position: absolute;
    right: 50px;
    bottom: -20px;
}

.home-heading {
    margin-top: 180px;
}

