



/* styling the industrial section */
.industrial-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 50px 0px 120px 0px ;
}

.industrial-section .industrial-info {
    max-width: 50%;
}

.industrial-section .industrial-info h1 {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 100;
}

.industrial-section .industrial-info .industrial-specialists {
    color: #591C68;
    font-weight: 900;
}

.industrial-section .industrial-info h3 {
    margin-bottom: 5px;
    font-weight: 500;
}

.industrial-section .industrial-info h2 span{
    color: #591C68;
    font-weight: 900;
}

.industrial-section .industrial-info p {
    margin-top: 50px;
}

.industrial-section .industrial-info button {
    margin: 20px 0px;
}

.industrial-section .industrial-images {
    max-width: 100%;
    position: relative;
}
  
.industrial-section .industrial-images .industrial-image1{
    max-width: 60%;
    height: 400px;
    position: absolute;
    bottom: -80px;
    right: -10px;
    border: 10px solid white;
}

.industrial-section .industrial-images .industrial-image2{
    min-width: 300px;
    max-width: 100%;
    height: 500px;
}

.industrial-section .industrial-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

/* styling the services section */
.servicesHeading {
    margin: 50px 0px;
}

.services-page-servicesContainer {
    display: flex;
    flex-wrap: wrap;
}

.services-page-services-paragraph {
    max-width: 500px;
    margin: 20px 0px  ;
}

.services-page-servicesContainer .service-page-service {
    flex: 1;
    height: 400px;
    position: relative;
    margin: 20px 20px 90px 20px;
    border-radius: 20px 20px 0px 0px;
    min-width: 300px;
}

.services-page-servicesContainer .service-page-service img{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    transition: 0.4s ease-in-out;
}

.services-page-servicesContainer .service-page-service:hover img {
    transform: translateY(-20px);
}

.services-page-servicesContainer .service-page-service .service-type {
    padding: 30px;
    background-color: white;
    width: 200px;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    bottom: -60px;
    left: 50%;
    translate: -50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
