

.banner2-heading-container {
    height: 150px;
    padding-top: 40px;
    background-image: linear-gradient(45deg, rgb(156, 156, 156), rgb(163, 161, 161),rgb(197, 195, 195), rgb(165, 164, 164));
}

.banner2-link {
    padding: 10px 0px;
    display: flex;
    height: 20px;
}

.banner2-link a {
    text-decoration: none;
    color: gray;
    font-weight: 700;
    width: 45px;
    transition: all 0.3s;
}

.banner2-link a:hover {
    color: #591C68;
    font-size: 17px;
}

.banner2-link .banner2-icon {
    margin-inline: 10px;
    color: gray;
}

.banner2-long-line {
    height: 1px;
    border: 0;
    background-image: linear-gradient(45deg, rgb(156, 156, 156), rgb(163, 161, 161),rgb(197, 195, 195), rgb(165, 164, 164));
}

/* page heading styling*/
.pageHeading-container {
    display: flex;
    justify-content: center;
    animation: slide 1s ease-in;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.pageHeading {
    position: relative;
}

.pageHeading h1 {
    font-size: 90px;
    font-weight: bolder;
    /*color: #E4E5E7;*/
}

.pageHeading p {
    position: absolute;
    bottom: 0px;
    font-weight: 600;
    color: #591C68;
}