
.header1 {
    max-width: 100vw;
    height: 40px;
    margin: 0;
    background-image: linear-gradient(45deg, rgb(156, 156, 156), rgb(163, 161, 161),rgb(197, 195, 195), rgb(165, 164, 164));
}

.operating-times {
    margin-left: 60px;
    background-color: #591C68;
    width: 20%;
    height: 40px;
    border-radius: 0px 70px 0px 0px;
}

.operating-times p {
    color: white;
    padding: 10px   ;
}