
.header1 {
    max-width: 100vw;
    height: 40px;
    margin: 0;
    background-color: #8F9092;
}

.operating-times {
    margin-left: 60px;
    background-color: #591C68;
    width: 20%;
    height: 40px;
    border-radius: 0px 70px 0px 0px;
}

.operating-times p {
    color: white;
    padding: 10px   ;
}