
.pageHeading-container {
    display: flex;
    justify-content: center;
    animation: slide 1s ease-in;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.pageHeading {
    position: relative;
}

.pageHeading h1 {
    font-size: 90px;
    font-weight: bolder;
    color: #E4E5E7;
}

.pageHeading p {
    position: absolute;
    top: 50px;
    font-weight: 600;
}