.testimonials-heading {
    color: white;
    margin: 40px;
}

.testimonial-section {
    background-image: linear-gradient(45deg, rgb(156, 156, 156), rgb(163, 161, 161),rgb(197, 195, 195), rgb(165, 164, 164));
    padding: 20px 0px;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.testimonial-section-grid-image {
    width: 70%;
    height: 80%;
    position: relative;
}

.testimonial-section-grid-image .testimonial-handshake {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 90px 0px;
    object-fit: cover;
}

.testimonial-section-grid-image .testimonial-hardhat {
    position: absolute;
    max-width: 550px;
    bottom: -190px;
    right: -200px;
}

.testimonials-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.testimonial {
    width: 100%;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius:20px 0px 90px 0px;
    box-sizing: border-box;
}

.testimonial hr {
    margin-bottom: 10px;
}

.testimonial button {
    margin: 10px 0px;
}

.testimonial a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.testimonial-header {
    display: flex;
    align-items: center;
}

.testimonial-header .company-logo {
    background-color: white;
    width: 80px;
    height: 80px;
}

.testimonial-header .company-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.companies-slide {
    margin: 40px 0px;
}

.companies-slide h2 {
    color: white;
    text-align: center;
}

.logos {
    display: flex;
    overflow: hidden;
    gap: 20px;
}

.logo {
    background-color: white;
    border-radius: 10px;
    height: 100px;
    min-width: 150px;
    max-width: 200px;
    padding: 5px;
    margin: 20px 0px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.testimonial-paragraph {
    min-height: 100px;
}

.testimonial-paragraph span {
    font-size: 25px;
    color: #591C68;
}